{% extends "base.html" %}

{% block body %}
<style type="text/css">
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<div style="margin-top:-20px;"
            class='card text-black blue-gradient mb-3' style="max-width: 20rem;">
            <div class="card-header "style="background: linear-gradient(45deg, #311b92e6, #4a5ece); color:white;padding-top:10px;margin-bottom:-7px";padding-top:3px><h5 >{{detail.title}}</h5></div>
            <div class="card-body"style="background: #f5eeee">
                <div class="row">
                <div class="column" style=" float: left;padding-left: 10px;
  width: 50%;">

                <h5 class="card-text text-black">Genre: {{detail.genres}}</h5>

                <h5 class="card-text text-black">Rating: {{rating.rating|floatformat:2}}</h5>
                <br>
                   <h5 class="card-title" >Synopsis</h5>
 <p >{{detail.description}}</p>
            </div>
            <div class="column" style=" float: right;
  width: 50%;">
                <img src="/media/{{detail.photo}}" class="center">
            </div>
        </div>
            </div>
        </div>
        {% if condition == "false" %}
        <div class="card">
            <div class="card-body"style="background: #f5eeee"   >
                <h3 class="text-center">Add Review</h3>
                <form action="{% url 'movies:add_review' detail.id %}" method="POST">
                    {% csrf_token %}
                    <label >Review</label>
                    <textarea name="comment" cols="30" rows="5" class="form-control"></textarea>

                    <label for="rating">Rating:</label>


                    <input style="margin-top:4px;" type="range" name="rating" id="rating" value="0" min="1" max="5" step="0.5" oninput="OutputId.value = rating.value"
                    >
                   <output name="output" id="OutputId">0</output>




                    <br>
                    <input type="submit" class="btn btn-primary" value="Add Review">

                </form>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body"style="background: #f5eeee"   >
                <h3 class="text-center">You have arleady Reviewed.</h3>
            </div>
        </div>
        {% endif %}
        <br>
        {% if count == 0 %}
         <div class="card box">
            <div class="card-body" style="background: #f5eeee">
                <h3 class="text-center">No Reviews</h3>
            </div>
        </div>
        {% else %}
        <div class="card box">
            <div class="card-body" style="background: #f5eeee">
                <h3 class="text-center">Reviews</h3>
                <ul id="myList" style="list-style:none;padding-left: 0px;" >
                {% for review in reviews %}
                    <li class="card">
                        <div class="card-body" >
                            <div class="row">

                                <div class="col-md-3">

                                    <h5 class="text-left" style="text-transform: capitalize;">{{review.userid.username}}</h5>
                                    <h5>{{review.rating}}</h5>
                                    {% if current_user == review.userid.id %}
                                    <a href="{% url 'movies:edit_review' review.id %}">Edit</a>
                                    <a href="{% url 'movies:delete_review' review.id %}" 
                                    onclick="return confirm('Are you sure you want to delete it?');">Delete</a>
                                    {% endif %}

                                </div>
                                <div class="col-md-9">  
                                  <p>{{ review.comment }}  </p>

                            </div>

                            </div>

                        </div>

                    </li>
                 <li><br></li>
                {% endfor %}
                </ul>
                {% if count > 3 %}
                <center><input id="loadMore" type="submit" class="btn btn-primary" value="Load More"></center>
                {% endif %}
            </div>
        </div>
{% endif %}
<style type="text/css">
    #myList li{ display:none;

}
#loadMore {
  
    cursor:pointer;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color:red;
    cursor:pointer;
}
#showLess:hover {
    color:black;
}
</style>
<script type="text/javascript">

    $(function () {
    $("li").slice(0,8).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $("li:hidden").slice(0,8).slideDown();
        if ($("li:hidden").length == 0) {
            $("#load").fadeOut('slow');
        }
        $('html,body').animate({
            scrollTop: $(this).offset().top
        }, 1500);
    });

});
</script>

{% endblock body %}
